body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar{
  display: none;
}

.badge-hover{
  transition: 150ms;
  user-select: none;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  
}
.badge-hover:not(.unavailable):hover {
    filter: brightness(95%);
}
.badge-hover:not(.unavailable):active {
    filter: brightness(85%);
}

.in-basket {
  background-color:  color-mix(in srgb, var(--bs-card-bg) 30%, black);
}

.unavailable {
  filter: saturate(0.1) brightness(90%);
  cursor: auto !important;
}